body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('./scaffale.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Login {
    margin-bottom: 15px;
    width: 92%;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: brown;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: brown;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 109%;
}



button:hover {
    background-color: green;
}

h1,h2 {
    color: brown;
}
